@page {
    size: 21cm 29.7cm;
    margin: 5mm 10mm 5mm 5mm;
    /* change the margins as you want them to be. */
}

body{
    font-family: "Fira Sans", serif;
    width: 100%;
}

div#main{
    width: 21cm;
    margin: 0 auto;
}

.title{
    text-align: right;
    font-variant: small-caps;
    font-size: x-large;
    margin-bottom: 5px;
    font-weight: 800;
    padding: 0 5px 0 0
}

.title .sheet{
    float:left;
}

.team{
    display:flex;
    margin: 0 0 3px;
}

.team .title{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding: 10px 2px;
    font-size: larger;
    text-transform: uppercase;
    display: compact;
    align-self: flex-start;
    margin-top: 10px;
    font-weight: 800;
}

.good .title{
    color: #0000ff;
    border-right: #0000ff 2px solid;
}

.bad .title{
    color: #FF0000;
    border-right: #FF0000 2px solid;
}

.top-line{
    border-top: 1px #cccccc solid;
}

.roles{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 0 0 0;
    margin: 0 0 0 10px;
}

.role{
    display: inline-flex;
    margin: 0 0 3px;
}

.role .role-name{
    font-family: "Fira Sans", serif;
    font-size: medium;
    font-weight: 800;
}

.good .role-name{
    color: #0000FF;
}

.bad .role-name{
    color: #FF0000;
}

.role .icon{

}

.role-icon{
    height: 60px;
}
.role .ability {
    flex-grow: 1;
    font-size: small;
    font-family: "Fira Sans", serif;
}

.reminder{
    font-family: "Fira Sans", serif;
    font-size: medium;
    display: flex;
    border-bottom: 1px solid #cccccc;
}

.reminder .icon{
    width: 45px;
    height: 45px;
}

.reminder .role-icon{
    height: 45px;
}

.reminder .ability{
    font-size: small;
}

.reminder .ability-text{
    color: #b6b6b6;
}

.townsfolk .role-name{
    color: #0000FF;
}
.outsider .role-name{
    color: #0000FF;
}
.minion .role-name{
    color: #ff0000;
}
.demon .role-name{
    color: #ff0000;
}

.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    font-family: "Fira Sans", serif;
    width: 100%;
    padding: 2px;
    font-style: italic;
    font-size: small;
}

@media print {
    .pagebreak {
        clear: both;
        page-break-after: always;
    }

    .print-hidden{
        display: none;
    }
}

.print-hidden{
    text-align: center;
    font-size: x-large;
}

.float-left{
    float: left;
}

.font-light{
    color: #ccc;
}
